<style>
    css-grid-editor {
        --border-color: 2px solid rgba(0, 0, 0, 0.2);
        --white-background-color: #FFFFFF;
        --dark-grey: #272c37;
        --border-radius: 3px;
        --button-font-size: 15px;
        --button-font-weight: 300;
    }

    css-grid-editor * {
        user-select: none;
    }

    css-grid-editor .header {
        height: 48px;
        width: 100%;
        background-color: var(--white-background-color);
        border: var(--border-color);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    css-grid-editor h2.logo {
        color: var(--dark-grey);
        font-weight: bold;
        font-size: 20px;
        font-weight: 400px;
    }

    css-grid-editor #desktop {
        background-color: #0276C2;
        color: var(--white-background-color);
        margin-left: 30px;
        border: var(--border-color);
        border-radius: var(--border-radius);
        height: 32px;
        width: 75px;
        align-items: center;
        font-size: var(--button-font-size);
        font-weight: var(--button-font-weight);
    }

    css-grid-editor #mobile {
        border: var(--border-color);
        border-radius: var(--border-radius);
        color: #F4F4F4;
        background-color: #757575;
        height: 32px;
        width: 75px;
        align-items: center;
        font-size: var(--button-font-size);
        font-weight: var(--button-font-weight);
    }

    css-grid-editor .spacer {
        flex: 1;
    }

    css-grid-editor #reset {
        padding: 0;
        padding-right: 20px;
        color: #0276C2;
        font-size: 20px;
        font-weight: 400;
    }

    css-grid-editor #properties {
        border-left: var(--border-color);
    }

    css-grid-editor .toolbar-button {
        border: none;
        background: none;
        padding: 0.5rem;
    }

    crs-grid-editor svg * {
        pointer-events: none;
    }

    css-grid-editor .grid {
        background-color: var(--white-background-color);
        height: 600px;
        width: 100%;
        border: var(--border-color);
        border-radius: var(--border-radius);
        justify-content: center;
        display: grid;
    }

    css-grid-editor .footer {
        height: 48px;
        width: 100%;
        background-color: var(--white-background-color);
        border: var(--border-color);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: row;
        flex-direction: row-reverse;
        text-align: right;
        align-items: center;
    }

    css-grid-editor #apply {
        background-color: var(--dark-grey);
        color: var(--white-background-color);
        font-size: var(--button-font-size);
        font-weight: var(--button-font-weight);
        border: var(--border-color);
        border-radius: var(--border-radius);
        width: 75px;
        height: 40px;
        align-items: center;
    }

    css-grid-editor #cancel {
        font-size: var(--button-font-size);
        font-weight: var(--button-font-weight);
        border: none;
        border-radius: var(--border-radius);
        text-shadow: none;
        box-shadow: none;
        width: 75px;
        height: 40px;
        color: var(--dark-grey);
        background-color: var(--white-background-color);
        align-items: center;
    }

    css-grid-editor .toggle-container {
        position: relative;
        display: inline-block;
        height: 25px;
        width: 50px;
        pointer-events: none;
    }

    css-grid-editor .toggle-container input {
        opacity: 0;
        width: 100%;
        height: 100%;
        pointer-events: all;
    }

    css-grid-editor .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        background-color: #808080;
        transition: 0.4s;
        pointer-events: none;
    }

    css-grid-editor .slider::before {
        content: "";
        position: absolute;
        height: 18px;
        width: 18px;
        left: 6px;
        bottom: 4px;
        background-color: #fff;
        transition: 0.2s;
        pointer-events: none;
    }

    css-grid-editor .slider::after {
        position: absolute;
        /*content: "off";*/
        height: 18px;
        width: 18px;
        right: 6px;
        bottom: 4px;
        transition: 0.2s;
        pointer-events: none;
        color: #fff;
    }

    css-grid-editor input:checked+.slider {
        background-color: #2196f3;
    }

    css-grid-editor input:checked+.slider:before {
        transform: translateX(20px);
    }

    css-grid-editor input:checked+.slider:after {
        /*content: "on";*/
        left: 8px;
    }

    css-grid-editor .slider.round {
        border-radius: 34px;
    }

    css-grid-editor .slider.round:before {
        border-radius: 50%;
    }

    css-grid-editor div#increment-text {
        margin-right: 30px;
        margin-left: 10px;
        padding-right: 10px;
        border-right: 1px solid silver;
    }
</style>

<div data-id="top-toolbar" class="header" role="toolbar">
    <h2 class="logo">Layout Grid</h2>
    <button data-action="desktop" id="desktop">Desktop</button>
    <!--    <button data-action="mobile" id="mobile">Mobile</button>-->


    <div class="spacer"></div>

    <div class="toggle-container">
        <input type="checkbox" />
        <div class="slider round"></div>
    </div>
    <div id="increment-text"> Show Increments</div>

    <label-counter data-id="row-counter" class="rows" data-label="Rows" change.call="rowCountChanged"></label-counter>
    <label-counter data-id="column-counter" class="columns" data-label="Columns" change.call="columnCountChanged">
    </label-counter>
    <button class="toolbar-button" data-action="reset" data-id="reset" id="reset">Reset</button>
    <button class="toolbar-button" data-id="properties" id="properties">
        <svg data-action="properties" viewBox="0 0 24 24" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0 20c0 .733.6 1.333 1.333 1.333H8v-2.666H1.333C.6 18.667 0 19.267 0 20ZM0 4c0 .733.6 1.333 1.333 1.333h12V2.667h-12C.6 2.667 0 3.267 0 4Zm13.333 18.667v-1.334h9.334c.733 0 1.333-.6 1.333-1.333s-.6-1.333-1.333-1.333h-9.334v-1.334c0-.733-.6-1.333-1.333-1.333s-1.333.6-1.333 1.333v5.334c0 .733.6 1.333 1.333 1.333s1.333-.6 1.333-1.333Zm-8-13.334v1.334h-4C.6 10.667 0 11.267 0 12s.6 1.333 1.333 1.333h4v1.334c0 .733.6 1.333 1.334 1.333C7.4 16 8 15.4 8 14.667V9.333C8 8.6 7.4 8 6.667 8c-.734 0-1.334.6-1.334 1.333ZM24 12c0-.733-.6-1.333-1.333-1.333h-12v2.666h12c.733 0 1.333-.6 1.333-1.333Zm-6.667-4c.734 0 1.334-.6 1.334-1.333V5.333h4C23.4 5.333 24 4.733 24 4s-.6-1.333-1.333-1.333h-4V1.333C18.667.6 18.067 0 17.333 0 16.6 0 16 .6 16 1.333v5.334C16 7.4 16.6 8 17.333 8Z" />
        </svg>
    </button>
    <button class="toolbar-button" data-id="fullscreen" id="fullscreen">
        <svg data-action="fullscreen" viewBox="0 0 24 24" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M24 7.453v-6.12C24 .6 23.4 0 22.667 0h-6.12C15.36 0 14.76 1.44 15.6 2.28l2.12 2.12L4.387 17.733l-2.12-2.12C1.44 14.773 0 15.36 0 16.547v6.12C0 23.4.6 24 1.333 24h6.12c1.187 0 1.787-1.44.947-2.28L6.28 19.6 19.613 6.267l2.12 2.12c.827.84 2.267.253 2.267-.934Z" />
        </svg>
    </button>
    <button class="toolbar-button" data-id="close" id="close">
        <svg data-action="close" viewBox="0 0 24 24" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M23.468.55a1.813 1.813 0 0 0-2.567 0L12 9.434 3.099.533a1.813 1.813 0 0 0-2.567 0c-.71.71-.71 1.856 0 2.566L9.433 12l-8.9 8.901c-.71.71-.71 1.857 0 2.567.71.71 1.856.71 2.566 0L12 14.567l8.901 8.9c.71.71 1.857.71 2.567 0 .71-.71.71-1.856 0-2.566L14.567 12l8.9-8.901a1.824 1.824 0 0 0 0-2.548Z" />
        </svg>
    </button>
</div>
<div class="grid" id="grid">
    <grid-preview></grid-preview>
</div>
<div class="footer" role="toolbar">
    <button data-action="apply" id="apply">Apply</button>
    <button data-action="cancel" id="cancel">Cancel</button>
</div>