<li data-tag="tab">
    <img src="/assets/designer/tab.svg" alt="tab svg">
    <div>Tab</div>
</li>

<li data-tag="text input">
    <img src="/assets/designer/text-input.svg" alt="text input svg">
    <div>Text Input</div>
</li>
<li data-tag="button">
    <img src="/assets/designer/button.svg" alt="button svg">
    <div>Button</div>
</li>
<li data-tag="date time">
    <img src="/assets/designer/date-time.svg" alt="date and time svg">
    <div>Date & Time</div>
</li>
<li data-tag="group">
    <img src="/assets/designer/group.svg" alt="group svg">
    <div>Group</div>
</li>
<li data-tag="hidden input">
    <img src="/assets/designer/hidden-input.svg" alt="hidden input svg">
    <div>Hidden Input</div>
</li>
<li data-tag="image">
    <img src="/assets/designer/image.svg" alt="image svg">
    <div>Image</div>
</li>
<li data-tag="link">
    <img src="/assets/designer/link.svg" alt="link svg">
    <div>Link</div>
</li>
<li data-tag="number input">
    <img src="/assets/designer/number-input.svg" alt="number input svg">
    <div>Number Input</div>
</li>
<li data-tag="toolbar">
    <img src="/assets/designer/toolbar.svg" alt="toolbar svg">
    <div>Toolbar</div>
</li>
