<style>
    designer-repo {
        display: grid;
        grid-template-rows: 3rem auto;
        width: 20rem;
        height: 30rem;
        border: 1px solid silver;
    }

    designer-repo [role="toolbar"] {
        border-bottom: 1px solid silver;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    designer-repo .icon {
        width: 24px;
        height: 24px;
    }
</style>

<svg style="display:none" viewBox="0 0 24 24">
    <symbol id="filter" width="24" height="24">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.986 13.5V21c0 1.65 1.356 3 3.014 3 1.658 0 3.015-1.35 3.015-3v-7.5s5.17-6.615 8.666-11.085c.77-.99.06-2.415-1.205-2.415H1.51C.259 0-.45 1.425.319 2.415 3.816 6.885 8.986 13.5 8.986 13.5Zm-7.473-12 5.64 7.213 3.022 3.865-1.19.922 1.19-.92.318.405V21c0 .822.682 1.5 1.507 1.5.826 0 1.507-.678 1.507-1.5v-8.015l.318-.406 3.022-3.866 5.64-7.213H1.513Z"/>
    </symbol>
</svg>

<div role="toolbar">
    <svg class="icon"><use href="#filter"></use></svg>
    <input type="text" placeholder="Text"/>
</div>
<ul>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
    <li>item 4</li>
    <li>item 5</li>
</ul>