<style>
    <!--
        you are bleeding styles!!!!
        prefix this with the component name or use shadow dom but you cant keep bleeding styles like this
    -->
    .mainWindow {
        width: 300px;
        height: 500px;
        border: 2px solid gray;
        border-radius: 10px;
        margin: 50px;
    }

    div.windowHeader {
        border-bottom: 1px solid gray;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 30px;
        display: flex;
        flex-direction: row;
    }

    div.headerBtn {
        border-left: 1px solid gray;
        display: flex;
        justify-content: right;
        width: 100px;
        margin-left: 25px;
    }

    div.headerBtn button#gridBtn {
        margin-left: 20px;
    }


    div.windowCanvas {
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }

    <!--
        Rather assign a class to the parent that will affect the behaviour
        for example add the class "grid" to windowCanvas when you want to render it as a grid
        or "list" when you want to render it like a list
    -->
    div.windowCanvas div {
        width: 70px;
        height: 100px;
        border: 2px solid gray;
        border-radius: 5px;
        margin: 10px;

    }

    div.windowCanvas ul li {
        border-bottom: 2px solid gray;
    }
</style>

<!-- JHR: Hello UL in outer space, should you not be in one of the structures below? -->
<ul>

</ul>

<--
    JHR: there should not be two windows
    Pick one to move forward with and remove the other.
-->

<div class="mainWindow">
    <div class="windowHeader">
        <input type="text" placeholder="Type to Filter Widget">
        <div class="headerBtn">
            <button id="gridBtn">grid</button>
            <button id="listBtn">list</button>
        </div>
    </div>
    <div class="windowCanvas">
        <div>group1</div>
        <div>group2</div>
        <div>group3</div>

        <div>group4</div>
        <div>group5</div>
        <div>group6</div>

        <div>group7</div>
        <div>group8</div>
        <div>group9</div>
    </div>
</div>

<div class="mainWindow">
    <div class="windowHeader">
        <input type="text" placeholder="Type to Filter Widget">
        <div class="headerBtn">
            <button id="gridBtn">grid</button>
            <button id="listBtn">list</button>
        </div>
    </div>
    <div class="windowCanvas"> <!-- JHR: why is this redundent div here? it only contains the UL so it might as well not exist -->
        <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
        </ul>
    </div>
</div>